.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

#landing {
  background-image: url('https://previews.123rf.com/images/stockbroker/stockbroker1411/stockbroker141101165/33527052-high-school-students-taking-part-in-group-discussion.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: 29em;
}

.max-width-half {
  max-width: 75%;
}
